header {
	text-align: center;
}

.title {
	display: inline;
}

.author {
	display: none;
}

.date {
	float: right;
	font-size: 80%;
}

code {
	font-weight: bold;
	white-space: pre-wrap;
	tab-size: 4; -moz-tab-size: 4; -o-tab-size: 4;
}

.file[data-filename]::before, .code[data-filename]::before {
	font-weight: bold;
	color: #066;
	content: "File: "attr(data-filename)"\a\a";
}
.code, .shell, .file, .literal {
	display: table;
	border: 1px solid #ccc;
	background: #eee;
	padding: 4px;
	margin-bottom: 1px;
	margin-top: 1px;
}

.shell {
}

.shell.cmd::before {
	font-weight: bold;
	content: attr(data-cwd)"$ ";
}
.shell.cmd {
	color: #006;
	border-radius: 5px;
}

.shell.out {
	color: #060;
}
.shell.out::after {
	font-weight: bold;
	color: #066;
	content: "\a"attr(data-ellipsis);
}
.shell.out:not([data-ellipsis])::after {
	content: none;
}

.file {
	color: #333;
}

.literal {
	color: #333;
	border: 0px;
}
