server {
	listen 80;
	server_name aib42.net www.aib42.net;
	return 301 https://$host$request_uri;
}

server {
	listen 443 ssl;
	server_name aib42.net www.aib42.net;

	ssl_certificate /etc/letsencrypt/live/aib42.net/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/aib42.net/privkey.pem;
	ssl_dhparam /etc/ssl/certs/dhparam.pem;
	ssl_session_cache shared:SSL:32m;

	root /home/aib/proj/www.aib42.net/html;
	disable_symlinks off;
	autoindex on;

	location /article {
		rewrite ^/article/(.*)$ /articles/$1.html break;
	}

	location /file {
		rewrite ^/file/(.*)$ /files/$1 break;
	}
}
